version: '3.8'

services:
  backend:
    build: ./backend
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - monkey_data:/root/.pyspellchecker
    logging:
      driver: "json-file"
      options:
        max-size: "10m"

  frontend:
    build: ./frontend
    restart: unless-stopped
    ports:
      - "5173:5173"
    environment:
      - PUBLIC_BACKEND_URL=ws://[YOUR-SERVER-IP]:8000/ws
    depends_on:
      - backend

volumes:
  monkey_data:
